.position{
    margin: auto;
    width: 70%;
    font-size: 14px;
}

.img{
    width: 50px;
    height: 50px;
}

.p{
    font-size: 14px;
}
.font-size{
    font-size:16px;
}
.date-fontsize{
    font-size: 13px;
}
.font-body{
    font-size: 14px;
}
.fa-col{
    color:red;
}
.fa-comnt{
color: orange
}
.fa-reply{
    color: rgb(11, 11, 194);
}
.fa-ed{
   color:yellow;
}
.fa-del{
    color: red;
}
.font-size{
    font-size: 12px;
}
.card-body{
    box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
}
// a:hover{
// color:red
// }
.buttons-font{
font-size: 14px;
cursor: pointer;
}