<div class="card  position" *ngIf="topic" style="width:55rem;">
  <div class="card-body">
    <h6 class="font-weight-bold text-secondary">Edit Topic </h6>
    <label for="topic" class="text-secondary">Topic or Question</label>
    <input [(ngModel)]="topic.tName" class="form-control" type="text" placeholder="Topic Title">

    <label class=" text-secondary mt-4" for="description">Description</label>
    <textarea rows="6" class="form-control" [(ngModel)]="topic.tdescription"></textarea>

    <input  [(ngModel)]="topic.id" type="hidden">

    <div class="inline mt-4" *ngIf="topic">

<input style="display:none" type="file" name="file" multiple (change)="onFileChange($event)" #fileInput>

      <div *ngFor="let f of filesToUpload">
        {{f.name}}
      </div>
      <div>
        <ngb-progressbar  type ="info" [value]="uploadedData" [striped]="true" [max]="100" ></ngb-progressbar> 
      </div>
     
      <button (click)="addAttachment();fileInput.click()" class="mt-3 btn btn-secondary btn-sm">Add Attachment</button>
      <button (click)="updateTopic()" class="mt-3 btn btn-primary pull-right">Update Topic</button>
      <button routerLink="/topic/{{topic.id}}" class="mt-3 btn btn-light pull-right mr-2">cancel </button>
    </div>
  </div>


</div>
