
.position{
    margin: auto;
    margin-top: 40px;
    width: 60%;
    padding: 10px;
    height: 30rem;
    width: 40rem;
    border: transparent;
    font-size: 14px;
    }

.button{
    padding: 10px 5px;
}
.form-control{
    padding-left: 5px;
    padding-right: 5px;
}
.card-body{
   
    box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
}