.img{
    width: 150px;
    height: 70px;
    
}
// .max-header{
//     // padding-top: 0.8rem;
//     // padding-bottom: 0.8rem;
  
//     max-height: 70px;
//     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//     background-color: #fff;
// }
.header{
    max-height:70px;
    box-shadow:  0 0 15px rgba(46, 59, 125, 0.23);
    background-color: #1589EE;
}
// ngbpopover{
//     padding: 0.5rem 0.75rem;
//     color: #212529;
//     margin-bottom: 2rem;
//     line-height: 1.6rem;
//     /* font-weight: bold; */
//     font-style: italic;
//     font-size: medium;
// }
.nav-link{
color:#FFFFFF
}