<div class="card position"style="width:55rem;">
    <div class="card-body mb-5">
          <h6 class="font-weight-bold text-secondary">Create New Topic</h6>
    <p class="text-secondary">Complete the below form to post a new topic or question</p>

    <label for="topic" class="text-secondary">Topic or Question</label>
    <input class="form-control" [(ngModel)]="topic.tName" type="text" name="tName" placeholder="Topic Title" #tName='ngModel' required>
    <div *ngIf="tName.touched && tName.invalid ">
        <div class="text-danger error" *ngIf="tName.errors.required">Topic title is required</div>
        <div class="text-danger error" *ngIf="!tName.errors.minlength">Topic Title cannot be empty</div>
    </div>

    <label class=" text-secondary mt-4" for="description">Description</label>
    <textarea class="text-area" [(ngModel)]="topic.tdescription" name="tdescription" #tdescription='ngModel' required></textarea>
    <div *ngIf="tdescription.touched && tdescription.invalid ">
        <div class="text-danger error" *ngIf="tdescription.errors.required">Topic description is required</div>
        <div class="text-danger error" *ngIf="!tdescription.errors.minlength">Topic description cannot be empty</div>
    </div>
 

    <div class="inline mt-4"  >

        <button (click)="onPost()" routerLink="/view" class="btn btn-primary btn-sm pull-right">Post Topic</button>
        <button routerLink="/view" class="btn btn-light btn-sm pull-right mr-2">Cancel </button>
        <input style="display:none" type="file" name="file" multiple (change)="onFileChange($event)" #fileInput>
        <button class="btn btn-sm btn-secondary" (click)="onAddAttachment();fileInput.click()" >Add Attachment</button>
      
    </div>
    <div class="mt-3" >
        <ngb-progressbar  type ="info" [value]="uploadedData" [striped]="true" [max]="100" ></ngb-progressbar> 
      </div>
    </div>

</div>
