<div class="card-group mx-auto body-bg"style="width:40rem;" >
<div class="container card card-body sm mt-5 mb-5 " >
    <h3>Login</h3>
    <form name="form-login" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate >
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="form-group"
        [ngClass] = "{'has-error': f.submitted && !userName.valid}">
            <label style="font-size:14px;" class="mb-0"  >Username<sup>*</sup></label>
            <input class="form-control" type="text" name="userName" 
            [(ngModel)]="user.userName"
            #userName= "ngModel"
            userName.minlength=5 
            required>
            <div *ngIf="userName.touched && userName.invalid ">
                <div class="text-danger error" *ngIf="userName.errors.required">Username is required</div>
                <div class="text-danger error" *ngIf="!userName.errors.minlength">Username should atleast be 5 characters</div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label style="font-size:14px;" class="mb-0">Password<sup>*</sup></label>
            <input class="form-control" type="password" 
            name="password" 
            [(ngModel)]="user.password"
            #password="ngModel"
            required>
            <div *ngIf="password.touched && password.invalid ">
                <div class="text-danger" *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password should atleast be 5 characters</div>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember"> Remember me</label>
        </div>
        <div>
            <input routerLink="/view" type="submit" class="btn btn-primary btn-block mt-1 " value="Login">
            <p class="text-center mt-4" >Not a user? <a href="/register"><u> Register Here  </u></a></p>
        </div>
    </form>
</div>
<!-- <div class=" card card-body mx-auto d-block img-body sm mt-5 mb-5 " >
    
</div> -->
</div>
