<div class="container-fluid mt-5 text-secondary">
  <div class="row">
    <div class="col-3 sidebar">
      <div class="card card-body cd mt-3">
        <p class="mt-3 font-weight-bold">Search Topics</p>
        <label class="font-body mb-0">Search</label>
        <input type="text form" class="form-control" placeholder="Search Text" [(ngModel)]="searchText">
        <!-- <button (click)="onSearch()" class="btn btn-secondary btn-sm mt-2 size">search</button>  -->
        <hr class="hr">

        <p class="mt-3 font-weight-bold">Filter Topics</p>

        <label class="mb-0 font-body">By Date</label>
        <input class="form-control" type="date" [(ngModel)]="searchDate " placeholder="select">

        <label class="mt-3 font-weight-bold">By Action</label>
        <label class="cont font-body"> Topics I Created
          <input type="checkbox" #cb [(ngModel)]="checked">
          <span class="checkmark"></span>
        </label>
        <label class="cont font-body"> Topics I Replied
          <input type="checkbox" #cb [(ngModel)]="check">
          <span class="checkmark"></span>
        </label>


        <!-- <p class="mt-4">Choose Tags</p>
        <input class="input mb-4" type="text" name="tag" placeholder=" Choose a tag"> -->
        <div class="inline mt-3">
          <button *ngIf=" checked || check " (click)="filters()" class=" btn btn-secondary btn-sm pull-right">Apply Filters</button>
          <button (click)="checked =! checked; check =! check;" class="btn btn-light btn-sm pull-right mr-2 ">Clear Filters</button>
          <!-- <button *ngIf="check" (click)="searchBycomments()" class=" btn btn-secondary btn-sm pull-right">Apply Filters</button>
          <button *ngIf="check" (click)="check =! check" class="btn btn-light btn-sm pull-right mr-2 ">Clear Filters</button> -->
        </div>
      </div>
    </div>


    <div class="container col-8 mt-3">
      <div class="inline" *ngIf="user">
        <span class="inline">
          <button routerLink="/create/{{user.id}}" class="btn btn-primary btn-sm pull-right  ml-2" id="1">Create New Topic</button>
          <a href="/view" class="mt-1 mr-2 pull-right">
            <i class="fa fa-refresh"></i> Refresh</a>
        </span>
        <p>Topics</p>
      </div>
      <div>
        <div class="card mb-3"  *ngFor="let t of prodData  | 
             filter: searchText |
             sortBy: searchDate | createTopic: createdBy|
             paginate:{itemsPerPage:5, currentPage:p, totalItems: total} " style="line-height:1rem;">

          <div class="card-body" *ngIf="prodData.length > 0">
            <h5>
              <div style="width: 50rem; text-overflow: ellipsis; white-space: nowrap;
                      overflow: hidden;">
                <a routerLink="/topic/{{t.id}}"> {{t.tName}}</a>
              </div>
            </h5>
            <div class="text-secondary font-body" style="width: 50rem; text-overflow: ellipsis; white-space: nowrap;
                      overflow: hidden;">{{t.tdescription}}</div>
            <div class="inline">
              <a class="mr-2 text-secondary">
                <p class="text-secondary font-size font-italic mb-1 ">Created By</p>
                {{t.createdBy}}
                <span class="font-size font-italic"> {{ t.createdDate | date:' MMM dd, yyyy'}} </span>
              </a>
              <a class="text-secondary ml-3 mr-2 pull-right">
                <i class="fa fa-comnt fa-comment-o"></i> {{t.replies.length}} Comments </a>

              <a class="text-secondary ml-3 mr-2 pull-right">
                <i class="fa fa-paperclip" aria-hidden="true"></i> {{t.documents.length}} attachments</a>

              <a class="mr-2 pull-right text-secondary ">
                <i class="fa fa-col fa-heart" aria-hidden="true"></i> {{t.likes.length}} Likes</a>
            </div>
            <a class="mt-2 mr-2 font-size pull-right"routerLink="/topic/{{t.id}}">VIEW DETAILS</a>
          </div>

        </div>
        <div *ngIf="!(prodData.length > 0)">
          <div class="card card-body" style="height:28rem;">
            <p class="center"> There are currently no topics
              <br> Create a topic
              <a routerLink="/create/{{user.id}}">Click Here...</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pagination-controls class="pull-right" (pageChange)="p =$event" maxSize="5"></pagination-controls>
<!-- <ng-pagination [position]="'left'" [pageSize]="10" [itemsCount]="data.length" 
[data]="data" (getPageData)="getPageData($event)"></ng-pagination> -->